
body {
	font-family: 'Raleway', sans-serif;
}


.pic {
	width: 80%;
	margin-left: 10%;
}


.header {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%; 
}


.letter {
	font-size: 400%;
	margin-left: 10%;
	z-index: -1;
	font-weight: bold;
	color: #7b9e8d;
}


.letter2 {
	font-size: 400%;
	margin-left: 10%;
	z-index: -1;
	font-weight: bold;
	color: #7b9e8d;
	margin-bottom: 20%;
}


.word {
	margin-left: 10%;
	z-index: 2;
}